.frameworksHero {
    background-color: #0033A0;
    color: white;
}

.frameworksHero>div {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 4% 0;
}

.frameworksHero>div span {
    color: #B7B7B7;
}

.frameworksHero h1{
    margin-bottom: 20px;
}

.frameworksHero>div>p {
    width: 38.5%;
    font-size: 1.05vw;
    font-weight: 500;
    font-family: var(--font-manrope);
    line-height: 100%;
    letter-spacing: 0.04vw;
}

.frameworksHero>div>* {
    position: relative;
    z-index: 5;
}

.frameworksHero img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: auto;
    z-index: 1;
}

.frameworksMain>div {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

.frameworksMain>div>h4:nth-of-type(2) {
    margin-left: 50%;
    width: 50%;
    margin-bottom: 10px;
}

.frameworksRow {
    display: flex;
}

.frameworksRow>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.frameworksRow p {
    width: 45%;
}

.frameworksMain p {
    color: #545454;
}

.frameworksRowTwo {
    display: flex;
    position: relative;
    margin-top: 4vw;
}

.frameworksMain :global(.line){
    height: 2vw;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    background-color: transparent;
    margin-bottom: -50px;
    margin-top: 40px;
}

.frameworksRowTwo>div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.frameworksRowTwo>div:nth-child(1)>p {
    width: 58%;
    padding-right: 31%;
}

.frameworksRowTwo>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.frameworksRowTwo>div:nth-child(2)>p {
    width: 45%;
    margin-top: 0.2vw;
    margin-bottom: 1vw;
}

.frameworksRow div:has(a) {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.frameworksRow a {
    border-bottom: 1px solid #0033A0;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 10px;
    width: 100%;
    position: relative;
    margin-bottom: 2vw;
}

.frameworksRow a span {
    color: #0033A0;
}

.frameworksRow a img {
    height: 4vw;
    width: 4vw;
}

.frameworksMain>div>h4:nth-of-type(3) {
    margin-left: 50%;
    width: 50%;
}

.frameworksMain>div>h4:nth-of-type(4) {
    margin-bottom: 2vw;
}

.frameworksRowThree {
    display: flex;
}

.frameworksRowThree>div {
    width: 50%;
}

.frameworksRowThree>div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
}

.frameworksRowThree>div:nth-child(1)>div {
    width: 40%;
}

.frameworksRowThree>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.frameworksRowThree>div:nth-child(2)>* {
    width: 58%;
}

.frameworksRowThree>div:nth-child(2)>a {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    color: #0033A0;
    gap: 3px;
    align-items: center;
    font-size: 1vw;
    position: relative;
    width: auto;
}

.frameworksRowThree>div:nth-child(2)>a::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #0033A0;
    content: "";
}

.frameworksRowThree>div:nth-child(2)>a img {
    height: 2.1vw;
    height: 2.1vw;
}

.frameworksMain>div>h4:last-of-type {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 3vw;
}

.frameworksMain :global(.descriptor_1) {
    text-transform: uppercase;
}

.frameworksHero>div img:first-of-type{
    display: none;
}


@media only screen and (min-width: 1920px) {
    .frameworksRow a img {
        height: 68px;
        width: 68px;
    }

    .frameworksRowThree>div:nth-child(2)>a img {
        height: 20px;
        height: 20px;
    }

    .frameworksRowThree>div:nth-child(2)>a {
        font-size: 18px;
    }

    .frameworksHero>div>p {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        font-family: var(--font-manrope);
    }

    .frameworksHero>div>p {
        width: 42%;
        font-size: 18px;
        font-weight: 500;
        font-family: var(--font-manrope);
        line-height: 100%;
    }
}

@media only screen and (max-width: 1440px) {
    .frameworksRowThree>div:nth-child(2)>* {
        width: 65%;
    }

    .frameworksRowThree>div:first-child>div {
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .frameworksRow p {
        width: 100%;
        font-size: 1.5vw;
    }

    .frameworksRowTwo:before {
        width: 100%;
    }

    .frameworksRowTwo>div:first-child>p {
        width: 95%;
        padding-right: 20%;
        font-size: 1.8vw;
    }

    .frameworksRowTwo>div:nth-child(2)>p {
        width: 100%;
        font-size: 1.5vw;
    }

    .frameworksRowTwo>div:nth-child(2)>div{
        font-size: 1.6vw;
        margin-bottom: 5px;
    }

    .frameworksRowThree>div:nth-child(2)>* {
        width: 100%;
        font-size: 1.5vw;
    }

    .frameworksRowThree > div:nth-child(2) > a{
        font-size: 1.5vw;
    }

    .frameworksRowThree > div:nth-child(2) > a img{
        height: 1.7vw;
        width: 1.7vw;
    }

    .frameworksRowThree > div:nth-child(2) > a:after{
        bottom:0;
    }

    .frameworksRowThree>div:first-child>div {
        width: 100%;
        font-size: 1.8vw;
    }

    .frameworksMain>div>h4 {
        font-size: 3.5vw;
    }

    .frameworksMain > div > h4:nth-of-type(3){
        font-size: 2vw;
        margin-left: 0;
        width: 100%;
    }

    .frameworksMain > div > h2{
        font-size: 2.2vw;
        margin-bottom: 20px;
    }

    .frameworksMain > div > h4:last-of-type{
        width: 100%;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 768px){
    .frameworksHero>div img:first-of-type{
        position: relative;
        height: 90px;
        width: auto;
        display: inline-block;
        left: unset;
        top: unset;
        margin: 20px auto;
        transform: none;
    }

    .frameworksHero>div img:last-of-type{
        display: none;
    }

    .frameworksMain > div > h4:nth-of-type(2){
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .frameworksHero > div > div{
        font-size: 6vw;
    }

    .frameworksHero > div > p{
        width: 100%;
        font-size: 3vw;
    }

    .frameworksMain > div > h4{
        font-size: 5.2vw;
    }

    .frameworksMain > div > h4:first-of-type{
        margin-top: 30px;
    }

    .frameworksRow, .frameworksRowTwo, .frameworksRowThree{
        flex-direction: column;
    }

    .frameworksRow>div, .frameworksRowTwo>div, .frameworksRowThree>div{
        width: 100%!important;
    }

    .frameworksRowTwo > div:first-child > p{
        text-align: center;
        font-size: 16px;
        margin: 10px auto;
        padding: 0;
        width: 100%;
        max-width: 230px;
        margin-bottom: 20px;
    }

    .frameworksMain :global(.line){
        width: 100%;
        margin-bottom: -40px;
    }

    .frameworksRowTwo > div:nth-child(2) > *{
        font-size: 16px!important;
    }

    .frameworksRowThree > div:first-child > div{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .frameworksRowThree > div:nth-child(2) *{
        font-size: 16px!important;
    }

    .frameworksRowThree > div:nth-child(2) img{
        height: 18px!important;
        width: 18px!important;
    }

    .frameworksMain > div > h2{
        font-size: 22px;
    }

    .frameworksRow a>span{
        font-size:34px;
    }

    .frameworksRow a{
        margin: 0 auto;
        width: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .frameworksRow a img{
        height: 36px;
        width: 36px;
    }

    .frameworksMain > div > h4:last-of-type{
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .frameworksRow p{
        font-size: 2.5vw;
    }
}