.expertiseHero{
    background-color: #0033A0;
    color: white;
}

.expertiseHero>*{
    padding: 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.expertiseHero p{
    color: white;
    width: 15.4%;
    position: relative;
    z-index: 5;
    text-align: center;
    margin-top: 2%;
}

.expertiseHero h1{
    position: relative;
    z-index: 5;
}

.expertiseHero img{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 28%;
    height: auto;
}

@media only screen and (max-width: 1440px){
    .expertiseHero p{
        text-align: left;
    }
}

@media only screen and (max-width: 1024px){
    .expertiseHero p{
        font-size: 18px;
        width: 240px;
    }

    
}

@media only screen and (max-width: 768px){
    .expertiseHero h1{
        font-size: 64px;
        line-height: 90%;
        text-align: center;
    }

    .expertiseHero>*{
        gap: 20px;
    }
}