.aboutHero{
    background-color: #0033A0;
    color: white;
    text-align: center;
}

.aboutHero>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.aboutHero img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
}

.aboutHero *:not(img){
    position: relative;
    z-index: 25;
}

.aboutHero>div>div:nth-child(2) *{
    text-transform: uppercase;
}

.aboutHero>div>div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 0;
}