:root {
  /* Defaults */
  font-family: var(--font-inter);
}

body {
  padding: 0;
  margin: 0;

  background-color: white;
  color: #101010;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  font-family: var(--font-manrope);
}

* {
  box-sizing: border-box;
}

.containerr {
  max-width: 1920px;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

header,
section,
footer,
main {
  width: 100%;
}

header {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media only screen and (max-width: 1024px) {
  .mobnot {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .mob {
    display: none !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  /* lock native scroll */
}

/* The element we translate */
.scroll-wrapper {
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

/* Start hidden to avoid FOUC */
[data-reveal-content] h1,
[data-reveal-content] h2,
[data-reveal-content] h3,
[data-reveal-content] h4,
[data-reveal-content] h5,
[data-reveal-content] h6 {
  opacity: 0;
  transition: opacity 500ms ease-out;
  /* matches controller default */
}

/* RevealController will set data-revealed="1" */
[data-reveal-content] [data-revealed="1"] {
  opacity: 1;
}

.studies-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}

.studies-boxes-top {
  width: calc(50% - 10px);
  margin-left: calc(50% + 5px);
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.studies-boxes-bottom {
  display: flex;
  gap: 20px;
  width: calc(50% - 10px);
  margin: 0 25%;
  align-items: stretch;
}

.study-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #c4c4c4;
}

.study-box>div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #878787;
}






.blue-text {
  color: #0033a0;
}

.headline_1 {
  font-size: 10.9vw;
  font-weight: 700;
  letter-spacing: -5%;
  line-height: 90%;
  text-transform: uppercase;
}

.subheadline_2 {
  font-size: 1.84vw;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: -4%;
}

.title_1 {
  font-size: 1.05vw;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  color: #101010;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.subtitle_1 {
  color: #545454;
  font-family: var(--font-inter), sans-serif;
  font-size: 1vw;
  letter-spacing: -4%;
}

.accent_text_2 {
  font-size: 1.23vw;
  font-family: var(--font-inter);
  font-weight: 400;
  text-transform: uppercase;
}

.headline_1_2 {
  font-size: 15vw;
  font-weight: 700;
  text-transform: uppercase;
}

.headline_5 {
  font-size: 6vw;
  font-weight: 600;
}

.body_text {
  font-size: 0.9vw;
  font-weight: 400;
  font-family: var(--font-inter);
  color: #101010;
  line-height: 120%;
  letter-spacing: -0.04;
}

.title_3 {
  font-size: 1.4vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -4%;
  line-height: 1;
  font-family: var(--font-manrope);
}

.subtitle_4 {
  color: #545454;
  font-size: 1.21vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 500;
  letter-spacing: -4%;
}

.headline_2 {
  font-size: 1.3vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -4%;
}

.accent_text_1 {
  font-size: 1.785vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: -0.04;
}

.title_2 {
  font-size: 1vw;
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -4%;
}

.subtitle_2 {
  font-size: 0.9vw;
  font-weight: 400;
  font-family: var(--font-inter);
  color: #545454;
  line-height: 120%;
}

.descriptor_2 {
  font-size: 1vw;
  font-weight: 500;
  font-family: var(--font-inter);
  letter-spacing: -5%;
}

.accent_text_3 {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 1.49vw;
  line-height: 120%;
  letter-spacing: -1.2;
}

.title_5 {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 600;
  font-family: var(--font-inter);
}

.headline_6 {
  font-size: 3.6vw;
  font-weight: 500;
  font-family: "Manrope";
}

.headline_3_1 {
  font-size: 1.5vw;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 100%;
}

.headline_1_3 {
  font-size: 5.3vw;
  font-weight: 700;
  line-height: 90%;
  font-family: var(--font-manrope);
  text-transform: uppercase;
}

.headline_3 {
  font-size: 1.3vw;
  font-weight: 600;
  font-family: var(--font-manrope);
  text-transform: uppercase;
  letter-spacing: -0.4;
}

.button_link {
  font-family: var(--font-inter);
  font-size: 3.5vw;
  font-weight: 400;
}

.descriptor_1 {
  font-size: 0.9vw;
  font-family: var(--font-inter);
  line-height: 105%;
  font-weight: 400;
}

.footnote_2 {
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--font-inter);
}

.headline_4 {
  font-weight: 600;
  font-size: 3.4vw;
  font-family: var(--font-manrope);
  letter-spacing: -2.2;
  text-transform: uppercase;
  line-height: 100%;
}

.headline_1_4 {
  font-size: 3.4vw;
  font-family: var(--font-manrope);
  font-weight: 700;
  line-height: 90%;
}

.headline_1_1 {
  font-size: 8vw;
  font-weight: 500;
  line-height: 90%;
  font-family: var(--font-manrope);
}

.subheadline_4 {
  font-size: 1.4vw;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 105%;
}

.subheadline_1{
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 2vw;
  line-height: 110%;
  text-transform: uppercase;
}

.descriptor_1{
  font-size: 1vw;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 105%;
  text-transform: uppercase;
}

.title_4{
  font-size: 0.9vw;
  font-family: var(--font-inter);
  line-height: 120%;
}


@media only screen and (min-width: 1930px) {
  .headline_1 {
    font-size: 219px;
  }

  .subheadline_2 {
    font-size: 36px;
  }

  .title_1 {
    font-size: 20px;
  }

  .subtitle_1 {
    font-size: 18px;
  }

  .accent_text_2 {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 24px;
  }

  .headline_1_2 {
    font-size: 280px;
    font-weight: 700;
  }

  .headline_5 {
    font-size: 100px;
    font-weight: 600;
  }

  .body_text {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    color: #101010;
  }

  .title_3 {
    font-size: #101010;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -4%;
  }

  .subtitle_4 {
    color: #545454;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--font-inter);
    font-weight: 500;
    letter-spacing: -4%;
  }

  .headline_2 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -4%;
  }

  .accent_text_1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: -0.04;
  }

  .title_2 {
    font-size: 18px;
    font-family: var(--font-inter);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -4%;
  }

  .subtitle_2 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    color: #545454;
  }

  .descriptor_2 {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-inter);
    letter-spacing: -5%;
  }

  .accent_text_3 {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -7%;
  }

  .title_5 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-inter);
  }

  .headline_6 {
    font-size: 66px;
    font-weight: 500;
    font-family: "Manrope";
  }

  .headline_3_1 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-inter);
    line-height: 100%;
  }

  .headline_1_3 {
    font-size: 100px;
    font-weight: 700;
    line-height: 90%;
    font-family: var(--font-manrope);
  }

  .headline_3 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-manrope);
  }

  .button_link {
    font-family: var(--font-inter);
    font-size: 66px;
    font-weight: 400;
  }

  .descriptor_1 {
    font-size: 18px;
    font-family: var(--font-inter);
    line-height: 105%;
    font-weight: 400;
  }

  .footnote_2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--font-inter);
  }

  .headline_4 {
    font-weight: 600;
    font-size: 66px;
    font-family: var(--font-manrope);
    letter-spacing: -2.2;
    text-transform: uppercase;
    line-height: 100%;
  }

  .headline_1_4 {
    font-size: 66px;
    font-family: var(--font-manrope);
    font-weight: 700;
    line-height: 90%;
  }

  .headline_1_1 {
    font-size: 160px;
    font-weight: 500;
    line-height: 90%;
    font-family: var(--font-manrope);
  }

  .subheadline_4 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-inter);
    line-height: 105%;
  }

  .subheadline_1{
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
}

.descriptor_1{
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 105%;
  text-transform: uppercase;
}

.title_4{
  font-size: 18px;
  font-family: var(--font-inter);
  line-height: 120%;
}
}

@media only screen and (max-width: 1024px) {
  .studies-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
  }

  .studies-boxes-top {
    width: 100%;
    margin-left: 0;
    display: flex;
    gap: 20px;
    align-items: stretch;
  }

  .studies-boxes-bottom {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 0;
    align-items: stretch;
  }

  .study-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #c4c4c4;
  }

  .study-box>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .study-box .title_2 {
    font-size: 2vw;
  }

  .study-box .subtitle_2 {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 768px) {
  .studies-boxes {
    gap: 10px;
  }

  .studies-boxes-top, .studies-boxes-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .study-box {
    width: 100%;
    gap: 40px;
  }

  .study-box .title_2 {
    font-size: 4vw;
  }

  .study-box .subtitle_2 {
    font-size: 3.8vw;
  }
}