:root {
  /* Defaults */
  font-family: var(--font-inter);
}

html{
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
-webkit-font-smoothing: antialiased;  /* makes text lighter on macOS */
  -moz-osx-font-smoothing: grayscale;   /* Firefox on macOS */
  font-smooth: always;  
  background-color: white;
  color: #101010;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all ease;
}

a:hover {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  font-family: var(--font-manrope);
}

* {
  box-sizing: border-box;
}

.containerr {
  max-width: 1920px;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

header,
section,
footer,
main {
  width: 100%;
}

header {
  font-family: var(--font-manrope);
}

@media only screen and (max-width: 1024px) {
  .mobnot {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .mob {
    display: none !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  /* lock native scroll */
}

/* The element we translate */
.scroll-wrapper {
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

/* Start hidden to avoid FOUC */
[data-reveal-content] h1,
[data-reveal-content] h2,
[data-reveal-content] h3,
[data-reveal-content] h4,
[data-reveal-content] h5,
[data-reveal-content] h6 {
  opacity: 0;
  transition: opacity 500ms ease-out;
  /* matches controller default */
}

/* RevealController will set data-revealed="1" */
[data-reveal-content] [data-revealed="1"] {
  opacity: 1;
}

.studies-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}

.studies-boxes-top {
  width: calc(50% - 10px);
  margin-left: calc(50% + 5px);
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.studies-boxes-bottom {
  display: flex;
  gap: 20px;
  width: calc(50% - 10px);
  margin: 0 25%;
  align-items: stretch;
}

.study-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #c4c4c4;
}

.study-box>div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #878787;
}

.line {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease-out, opacity 0.4s ease-out;
}

.line-visible, .antiline {
  opacity: 1!important;
  transform: scaleX(1);
}

.custom-line {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}

.custom-line > div {
  background-color: #D9D9D9;
}

.custom-line > div:nth-child(1),
.custom-line > div:nth-child(3) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.custom-line > div:nth-child(2) {
  width: 2px;
  height: 0;              /* start collapsed */
  transition: height 1.5s ease-out;
}

.custom-line.revealed > div:nth-child(2) {
  height: 200px;          /* grow down */
}








.blue-text {
  color: #0033a0;
}

.headline_1 {
  font-size: 11.8vw;
  font-weight: 700; /* updated */
  letter-spacing: -0.5vw;
  line-height: 90%;
  text-transform: uppercase;
}

.subheadline_2 {
  font-size: 1.84vw;
  font-weight: 700; /* updated */
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: -0.07vw;
  font-family: var(--font-manrope);
}

.title_1 {
  font-size: 1.05vw;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600; /* updated */
  color: #101010;
  letter-spacing: -0.035vw;
  text-transform: uppercase;
}

.subtitle_1 {
  font-size: 1vw;
  font-weight: 400; /* updated */
  color: #545454;
  font-family: var(--font-inter), sans-serif;
  letter-spacing: 0;
}

.accent_text_2 {
  font-size: 1.33vw;
  font-family: var(--font-inter);
  font-weight: 400; /* updated */
  text-transform: uppercase;
  letter-spacing: -0.07vw;
  line-height: 105%;
}

.headline_1_2 {
  font-size: 15vw;
  font-weight: 700; /* updated */
  text-transform: uppercase;
  letter-spacing: -0.8vw;
}

.headline_5 {
  font-size: 6vw;
  font-weight: 600; /* updated */
  letter-spacing: -5.4;
}

.body_text {
  font-size: 0.9vw;
  font-weight: 400; /* updated */
  font-family: var(--font-inter);
  color: #101010;
  line-height: 120%;
  letter-spacing: -0.04vw;
}

.title_3 {
  font-size: 1.5vw;
  font-weight: 600; /* updated */
  text-transform: uppercase;
  letter-spacing: -0.04vw;
  line-height: 1;
  font-family: var(--font-manrope);
}

.subtitle_4 {
  font-size: 1.51vw;
  color: #545454;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 500; /* updated */
  letter-spacing: -0.07vw;
}

.headline_2 {
  font-size: 1.6vw;
  font-weight: 600; /* updated */
  text-transform: uppercase;
  letter-spacing: -0.4;
  font-family: var(--font-manrope);
}

.accent_text_1 {
  font-size: 1.91vw;
  font-weight: 700; /* updated */
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: -0.08vw;
}

.title_2 {
  font-size: 1vw;
  font-family: var(--font-inter);
  font-weight: 600; /* updated */
  line-height: 120%;
  letter-spacing: -0.04vw;
}

.subtitle_2 {
  font-size: 1vw;
  font-weight: 400; /* updated */
  font-family: var(--font-inter);
  color: #545454;
  line-height: 120%;
  letter-spacing: -0.04vw;
}

.descriptor_2 {
  font-size: 1vw;
  font-weight: 500; /* updated */
  font-family: var(--font-inter);
  letter-spacing: -0.05vw;
}

.accent_text_3 {
  font-size: 1.51vw;
  font-family: var(--font-inter);
  font-weight: 500; /* updated */
  line-height: 120%;
  letter-spacing: -0.11vw;
}

.title_5 {
  font-size: 1vw;
  font-weight: 600; /* updated */
  font-family: var(--font-inter);
  text-transform: uppercase;
  letter-spacing: -0.04vw;
}

.headline_6 {
  font-size: 3.6vw;
  font-weight: 500; /* updated */
  font-family: "Manrope";
}

.headline_3_1 {
  font-size: 1.5vw;
  font-weight: 600; /* updated */
  font-family: var(--font-inter);
  line-height: 100%;
}

.headline_1_3 {
  font-size: 5.5vw;
  font-weight: 700; /* updated */
  line-height: 90%;
  font-family: var(--font-manrope);
  text-transform: uppercase;
  letter-spacing: -0.2vw;
}

.headline_3 {
  font-size: 1.4vw;
  font-weight: 600; /* updated */
  font-family: var(--font-inter);
  text-transform: uppercase;
  letter-spacing: -0.07vw;
}

.button_link {
  font-size: 3.3vw;
  font-family: var(--font-inter);
  font-weight: 400; /* updated */
  letter-spacing: -0.17vw;
}

.descriptor_1 {
  font-size: 0.9vw;
  font-family: var(--font-inter);
  line-height: 105%;
  font-weight: 400; /* updated */
  letter-spacing: -0.05vw;
}

.footnote_2 {
  font-size: 0.8vw;
  font-weight: 400; /* updated */
  line-height: 120%;
  font-family: var(--font-inter);
}

.headline_4 {
  font-size: 3.4vw;
  font-weight: 600; /* updated */
  font-family: var(--font-manrope);
  letter-spacing: -0.2vw;
  text-transform: uppercase;
  line-height: 100%;
}

.headline_1_4 {
  font-size: 3.4vw;
  font-family: var(--font-manrope);
  font-weight: 700; /* updated */
  line-height: 90%;
}

.headline_1_1 {
  font-size: 9vw;
  font-weight: 500; /* updated */
  line-height: 90%;
  font-family: var(--font-manrope);
  letter-spacing: -0.35vw;
}

.subheadline_4 {
  font-size: 1.4vw;
  font-weight: 400; /* updated */
  font-family: var(--font-inter);
  line-height: 105%;
  letter-spacing: -0.08vw;
}

.subheadline_1 {
  font-size: 2vw;
  font-weight: 500; /* updated */
  font-family: var(--font-manrope);
  line-height: 110%;
  text-transform: uppercase;
}

.subtitle_3 {
    font-size: 1vw;
    font-weight: 400;
    font-family: var(--font-inter);
  }

    .title_4 {
    font-weight: 400;
    font-size: 1vw;
    font-family: var(--font-inter);
    line-height: 120%;
    letter-spacing: -0.06vw;
  }

  .headline_1_5 {
    font-weight: 700;
    font-family: var(--font-manrope);
    font-size: 6vw;
    line-height: 90%;
    letter-spacing: -3;
  }



@media only screen and (min-width: 1930px) {
  .headline_1 {
    font-size: 219px;
    letter-spacing: -0.04em;
  }

  .subheadline_2 {
    font-size: 36px;
    letter-spacing: -0.04em;
  }

  .title_1 {
    font-size: 20px;
    letter-spacing: -0.04em;
  }

  .subtitle_1 {
    font-size: 18px;
    letter-spacing: -0.04em;
  }

  .accent_text_2 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }

  .headline_1_2 {
    font-size: 280px;
    font-weight: 700;
    letter-spacing: -0.04em;
  }

  .headline_5 {
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -0.04em;
  }

  .body_text {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    color: #101010;
    letter-spacing: -0.04em;
  }

  .title_3 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.04em;
  }

  .subtitle_4 {
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }

  .headline_2 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  .accent_text_1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 110%;
    letter-spacing: -0.04em;
  }

  .title_2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }

  .subtitle_2 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    color: #545454;
    letter-spacing: -0.04em;
  }

  .descriptor_2 {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }

  .accent_text_3 {
    font-size: 28px;
    font-weight: 500;
    font-family: var(--font-inter);
    line-height: 120%;
    letter-spacing: -0.04em;
  }

  .title_5 {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-inter);
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  .headline_6 {
    font-size: 66px;
    font-weight: 500;
    font-family: "Manrope";
    letter-spacing: -0.04em;
  }

  .headline_3_1 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-inter);
    line-height: 100%;
    letter-spacing: -0.04em;
  }

  .headline_1_3 {
    font-size: 100px;
    font-weight: 700;
    font-family: var(--font-manrope);
    line-height: 90%;
    letter-spacing: -0.04em;
  }

  .headline_3 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-manrope);
    letter-spacing: -0.04em;
  }

  .button_link {
    font-size: 66px;
    font-weight: 400;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }

  .descriptor_1 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    line-height: 105%;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  .footnote_2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }

  .headline_4 {
    font-size: 66px;
    font-weight: 600;
    font-family: var(--font-manrope);
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  .headline_1_4 {
    font-size: 66px;
    font-weight: 700;
    font-family: var(--font-manrope);
    line-height: 90%;
    letter-spacing: -0.04em;
  }

  .headline_1_1 {
    font-size: 180px;
    font-weight: 500;
    font-family: var(--font-manrope);
    line-height: 90%;
    letter-spacing: -0.04em;
  }

  .subheadline_4 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-inter);
    line-height: 105%;
    letter-spacing: -0.04em;
  }

  .subheadline_1 {
    font-size: 36px;
    font-weight: 500;
    font-family: var(--font-manrope);
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }

  .title_4 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    line-height: 120%;
    letter-spacing: -0.04em;
  }

  .headline_1_5 {
    font-size: 110px;
    font-weight: 700;
    font-family: var(--font-manrope);
    line-height: 90%;
    letter-spacing: -0.04em;
  }

  .subtitle_3 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-inter);
    letter-spacing: -0.04em;
  }
}


@media only screen and (max-width: 1024px) {
  .studies-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
  }

  .studies-boxes-top {
    width: 100%;
    margin-left: 0;
    display: flex;
    gap: 20px;
    align-items: stretch;
  }

  .studies-boxes-bottom {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 0;
    align-items: stretch;
  }

  .study-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #c4c4c4;
  }

  .study-box>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .headline_1_2 {
    font-size: 15vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -5.1;
  }

  .study-box .title_2 {
    font-size: 2vw;
  }

  .study-box .subtitle_2 {
    font-size: 1.8vw;
  }

  .headline_4{
    letter-spacing: -1px;
  }
}

@media only screen and (max-width: 768px) {

  .custom-line {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}

.custom-line > div {
  background-color: #D9D9D9;
}

.custom-line > div:nth-child(1),
.custom-line > div:nth-child(3) {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.custom-line > div:nth-child(2) {
  width: 0.5px;
  height: 0;              /* start collapsed */
  transition: height 1.5s ease-out;
}

.custom-line.revealed > div:nth-child(2) {
  height: 200px;          /* grow down */
}

  .studies-boxes {
    gap: 10px;
  }

  .studies-boxes-top, .studies-boxes-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .study-box {
    width: 100%;
    gap: 40px;
  }

  .study-box .title_2 {
    font-size: 4vw;
  }

  .study-box .subtitle_2 {
    font-size: 3.8vw;
  }
}

.line-svg path {
  transition: stroke-dashoffset 2s ease-out;
}

.line-svg.revealed path {
  stroke-dashoffset: 0;
}

/* main>section:not(:first-child){
  padding-top: 0!important;
  padding-bottom: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}main>section:not(:first-child)>.containerr{
  padding-top: 75px!important;
  padding-bottom: 75px!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}
main>section:nth-child(2)>.containerr{
  padding-top: 150px!important;
  padding-bottom: 75px!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
} */