@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  color: #101010;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.containerr {
  max-width: 1920px;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

header, section, footer, main {
  width: 100%;
}

header {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media only screen and (max-width: 1024px) {
  .mobnot {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .mob {
    display: none !important;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  /* lock native scroll */
}

/* The element we translate */
.scroll-wrapper {
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}


/* Start hidden to avoid FOUC */
[data-reveal-content] h1,
[data-reveal-content] h2,
[data-reveal-content] h3,
[data-reveal-content] h4,
[data-reveal-content] h5,
[data-reveal-content] h6 {
  opacity: 0;
  transition: opacity 500ms ease-out;
  /* matches controller default */
}

/* RevealController will set data-revealed="1" */
[data-reveal-content] [data-revealed="1"] {
  opacity: 1;
}

.blue-text {
  color: #0033A0;
}

.headline_1 {
  font-size: 11vw;
  font-weight: 700;
  letter-spacing: -5%;
}

.subheadline_2 {
  font-size: 1.9vw;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -4%;
}

.title_1 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #101010;
  letter-spacing: -4%;
}

.subtitle_1 {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  letter-spacing: -4%;
}

.accent_text_2 {
  font-size: 1.5vw;
  font-family: "Inter";
  font-weight: 400;
  text-transform: uppercase;
}

.headline_1_2 {
  font-size: 15vw;
  font-weight: 700;
}

.headline_5 {
  font-size: 100px;
  font-weight: 600;
}

.body_text {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter";
  color: #101010;
}



.title_3 {
  font-size: #101010;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -4%;
}

.subtitle_4 {
  color: #545454;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: -4%;
}

.headline_2 {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -4%;
}

.accent_text_1 {
  font-size: 36px;
  font: 700;
  text-transform: uppercase;
}





@media only screen and (min-width: 1920px) {
  .headline_1 {
    font-size: 220px;
  }

  .subheadline_2 {
    font-size: 36px;
  }

  .title_1 {
    font-size: 20px;
  }

  .subtitle_1 {
    font-size: 18px;
  }

  .accent_text_2 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
  }

  .headline_1_2 {
    font-size: 280px;
    font-weight: 700;
  }

  .headline_5 {
    font-size: 100px;
    font-weight: 600;
  }

  .body_text {
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter";
    color: #101010;
  }
}