.hero{
    background-color: #0033A0;
    color: white;
    position: relative;
}

.hero :global(.containerr){
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 1%;
}

.hero>div>h1:first-of-type{
    margin-left: 3%;
}

.hero>div>h1:nth-of-type(2){
    margin-left: 3%;
}

.hero>div>h1:nth-of-type(3){
    margin-left: 28%;
}

.absText{
    position: absolute;
    left: 50%;
    top: 4.5%;
    width: 531px;
}

.absText>h4{
    text-transform: none;
    color: white;
    font-family: var(--font-manrope);
    line-height: 100%;
    letter-spacing: -0.05vw;
    font-weight: 500;
    font-size: 18px;
}

.absText>h4>span{
    color: #7D7D7D;
    margin: 0 3px;
}

.hero>div>a{
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 170px;
    color: #0033A0;
    font-size: 18px;
    letter-spacing: -0.045vw;
    margin-top: 24%;
    margin-bottom: 5%;
}

.line1{
    position: absolute;
    top: 0.5vw;
    width: 90%;
    height: auto;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.line2{
    position: absolute;
    top: 18.5vw;
    width: 60%;
    height: auto;
    z-index: 5;
    left: 4%;
    transform: translateX(-0%);
    pointer-events: none;
    animation: lineTwo 2.5s forwards ease;
}

.line3{
    position: absolute;
    top: 19vw;
    width: 47%;
    height: auto;
    z-index: 5;
    right: 3.5%;
    pointer-events: none;
    transform: translateX(-0%);
}

.line4{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 43%;
    pointer-events: none;
    height: auto;
    z-index: 5;
}

.line5{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43%;
    pointer-events: none;
    height: auto;
    z-index: 5;
}


.about{

}

.about>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}

.about>div h2{
}

.about>div h4{
    width: 58%;
    margin-top: 30px;
    text-align: center;
}

.about>div h4 span:last-of-type{
    display: block;
}

.about>div>img{
    max-height: 258px;
    width: auto;
    height: 30vh;
    margin: 30px 0;
}

.aboutBoxes{
    display: flex;
    justify-content: space-between;
}

.aboutBox{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    position: relative;
    aspect-ratio: 415 / 202;
}

.aboutBox h5{
    width: 88%;
}

.aboutBox::before{
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    border-top: 5px solid #0033A0;
    border-left: 5px solid #0033A0;
    content: "";
    position: absolute;
}

.aboutBox::after{
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    border-bottom: 5px solid #0033A0;
    border-right: 5px solid #0033A0;
    content: "";
    position: absolute;
}

.aboutBox h3{
    color: #0033A0;
}

.people>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.expertise>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.expertise>div h2{
    margin-bottom: 30px;
}

.expertiseBlackRow{
    display: flex;
    background-color: #101010;
    height: 44px;
    align-items: center;
    color: white;
    width: 100%;
}

.expertiseBlackRow>div{
    width: 50%;
}

.expertiseBlackRowLeft{
    padding-left: 10px;
}

.expertiseBlackRowRight{
    position: relative;
}

.expertiseBlackRowRight::after{
    height: 14px;
    width: 14px;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    z-index: 5;
    background-color: white;
    border-radius: 50%;
}

.expertiseRow{
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.expertiseRow>div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.expertiseRow>div>div>span:first-of-type{
    font-weight: 600;
    margin-right: 3px;
}

.expertiseRow>div>div>span:last-of-type{
    font-weight: 400;
    color: #545454;
}

.expertiseRow>Div:has(a){
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.expertiseRow a {
    border-bottom: 1px solid #0033A0;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 10px;
    position: relative;
    margin-bottom: 2vw;
    width: auto;
}

.expertiseRow a span {
    color: #0033A0;
}

.expertiseRow a img {
    height: 4vw;
    width: 4vw;
}

.caseStudies>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caseStudies :global(.study-box){
    gap: 10px;
}

.caseStudies :global(.study-box)>div:first-child{
    flex-direction: column;
}

.caseStudies :global(.study-box)>div:first-child>div:first-child{
    order: 5;
}

.caseStudies>div h6:nth-of-type(1){
    margin-top: 2%;
}

.caseStudies>div h6:nth-of-type(2){
    margin-left: 25%;
    width: 75%;
}

.partners>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 120px;
    padding-bottom: 0;
}

.partners>div h4{
    max-width: 750px;
    text-align: center;
}

.insights>div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
    align-items: center;
}

.hero h2{
    display: none;
}

.line6{
    display: none;
}

.studyAbs{
    position: absolute;
    left: 25%;
    top: 30px;
    width: 10.5vw;
}

.studyAbs>div{
    text-transform: uppercase;
}

.caseStudies :global(.studies-boxes){
    position: relative;
}

@media only screen and (min-width: 1921px){
    .hero>div>a{
        height: 55px;
        width: 170px;
        font-size: 20px;
    }

    .studyAbs{
        width: 220px;
    }

    .absText>h4{
        font-size: 18px;
    }

    .line4, .line5{
        height: 350px;
        width: auto;
    }

    .line2{
        top: 400px;
    }

    .line3{
        top: 400px;
        right: 70px;
    }

    .line1{
        top: 20px;
    }

    .absText{
        top: 90px;
        width: 25%;
    }

    .hero>div a{
        font-size: 24px;
    }
}

@media only screen and (max-width: 1024px){
    .hero>div> a{
        margin-top: 0%;
        height: 55px;
        width: 170px;
        font-size: 18px;
    }

    .studyAbs{
        display: none;
    }

    .absText{
        top: unset;
        left: unset;
        transform: none;
        text-align: center;
        position: relative;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .homeMobile{
        height: 200px;
        width: 5.5px;
        animation: lineSeven 3.5s ease forwards;
        margin: 0 auto;
    }


    @keyframes lineSeven{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    75%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

    .absText h4{
        font-size: 1.8vw;
    }

    .about h2{
        font-size: 3vw;
    }

    .about h4{
        font-size: 2.5vw;
        width: 85%!important;
    }

    .aboutBoxes{
        flex-wrap: wrap;
        gap: 10px;
    }

    .aboutBox{
        width: calc(50% - 5px);
    }

    .aboutBox :global(.subheadline_2){
        font-size: 3.5vw;
        max-width: 85%;
    }

    .aboutBox p{
        font-size: 2vw;
    }

    .people h2{
        font-size: 3vw;
    }

    .expertise h2{
        font-size: 3vw;
    }

    .expertiseBlackRowLeft{
        display: none;
    }

    .expertiseBlackRowRight{
        width: 100%!important;
        padding-left: 10px;
        font-size: 26px;
    }

    .expertiseBlackRowRight>*{
        font-size: 18px;
    }

    .expertiseRow>div{
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
    }

    .expertiseRow>div:first-child{
        display: none;
    }

    .expertiseRow a{
        margin: 30px auto 0px auto;
    }

    .expertiseRow a span{
        font-size: 54px;
    }

    .expertiseRow a img{
        height: 56px;
        width: 56px;
    }

    .caseStudies h2{
        font-size: 3vw;
    }

    .caseStudies h6{
        margin-left: 0!important;
        width: 100%!important;
        font-size: 2.5vw;
    }

    .caseStudies :global(.study-box)>div:first-child{
        flex-direction: column;
        align-items: flex-start;
    }

    .caseStudies :global(.study-box)>div:first-child>*:last-child{
        order: -1;
        height: 35px!important;
        width: auto!important;
    }

    .partners h2{
        font-size: 3vw;
    }

    .partners h4{
        font-size: 3vw;
        width: 90%;
    }

    .partners>div{
        padding: 50px 0;
    }

    .insights h2{
        font-size: 3vw;
    }

    .caseStudies :global(.study-box){
        gap: 10px;
    }

}

@media only screen and (max-width: 768px){
    .hero h1{
        display: none;
    }

    .hero h2{
        font-size: 16vw;
        display: block;
        text-align: center;
        width: 90%;
        text-transform: uppercase;
        font-weight: 500;
        font-family: var(--font-manrope);
        line-height: 90%;
        margin: 0 auto;
    }

    .absText h4{
        font-size: 3.8vw;
    }

    .absText{
        width: 85%;
        margin-top: 25%;
    }

    .hero>div>a{
        margin-top: 5%;
        height: 55px;
        width: 263px;
        font-size: 20px;
        margin-bottom: 15%;
    }

    .absText:after {
        bottom: -210%;
        width: 1.2vw;
        height: 50vw;
    }


    .line4{
        display: none;
    }

    .line5{
        display: none;
    }

    .line3{
        top: 69.5vw;
    }

    .line1{
        display: none;
    }

    .line2{
        top: 72vw;
        left: -50px;
        display: none;
    }

    .line6{
        position: absolute;
        top: 65vw;
        width: 45%;
        z-index: 5;
        left: 9%;
        display: block;
        pointer-events: none;
        height: auto;
    }

    .about h2, .people h2, .insights h2, .expertise h2, .caseStudies h2, .partners h2{
        font-size: 7vw;
    }

    .about>div h4{
        font-size: 4.5vw!important;
        width: 100%!important;
    }

    .aboutBox{
        width: 100%;
    }

    .aboutBox :global(.subheadline_2){
        font-size: 7vw;
        max-width: 85%;
    }

    .aboutBox p{
        font-size: 4.5vw;
    }

    .expertiseRow a span {
        font-size: 40px;
    }

    .expertiseRow a img {
        height: 42px;
        width: 42px;
    }

    .caseStudies h6{
        font-size: 6vw;
    }

    .expertiseBlackRowRight > *{
        font-size: 18px;
    }

    .caseStudies :global(.study-box){
        gap: 10px;
    }

    .expertise>div{
        padding: 60px 0;
    }

}