.card {
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  padding: 1.5%;
  background: #fff;
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.categoryPill {
  display: inline-block;
  padding: 8px 14px;
  border: 1px solid #101010;
  color: #101010;
}

.date {
  color: #B7B7B7;
}

.title {
  margin: 0 0 8px 0;
}

.description {
  color: #545454;
  line-height: 1.2;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.readMore {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #101010;
  display: inline-flex;
  align-items: center;
  gap: 0px;
  font-weight: 400;
  cursor: pointer;
  font-size: 1vw;
}

.readMore img{

}

/* Start hidden; animate when .visible is added */
.card.visible {
  opacity: 1;
  transform: translateY(0);
}



@media only screen and (min-width: 1920px){
.readMore{
  font-size: 18px;
}
}

@media only screen and (max-width: 1024px){
  .card {
  width: calc((100% - 20px) / 2);
}

.title{
  font-size: 16px!important;
  font-weight: 600;
}

.description{
  font-size: 16px!important;
}

.categoryPill{
  font-size: 18px!important;
}

.date{
  font-size: 14px!important;
}

.readMore{
  font-size: 18px!important;
}
}

@media only screen and (max-width: 768px){
  .card{
    width: 100%;
    padding: 3%;
  }
}