.peopleTopContainer h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
    max-width: 58.227%;
}

.peopleTopContainer {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.peopleTopTop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
}

.peopleTopContainer>div:nth-child(2){
    width: 70%;
    margin-bottom: 20px;
}

.memberCard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.memberCard>div:nth-child(1) {
    width: 100%;
    aspect-ratio: 560 / 676;
    overflow: hidden;
    position: relative;
}

.memberCard>div:nth-child(1) img {
    width: 100%;
    height: auto;
    position: relative !important;
}

.teamContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.teamTop {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.mainMember {
    width: 32.5%;
}

.membersOne {
    width: calc(67.5% - 20px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
}

.membersOne>.memberCard {
    width: calc((100% - 60px) / 4);
}

.membersTwo {
    display: flex;
    gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.membersTwo>.memberCard {
    width: calc((100% - 100px) / 6);
}

.desktop {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile {
    display: none;
}




@keyframes membercardappear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


@media (max-width: 1024px) {
    .desktop {
        display: none;
    }

    .peopleTopContainer img {
        height: 70px;
        width: auto;
    }

    .peopleTopContainer {
        gap: 5px;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mainMember {
        width: 66%;
    }

    .membersOne {
        width: calc(34% - 20px);
        flex-direction: column;
    }

    .membersOne .memberCard {
        width: 100%;
    }

    .membersTwo .memberCard {
        width: calc((100% - 40px) / 3);
    }

    .peopleTopContainer h4 {
        text-transform: uppercase;
        padding-bottom: 10px;
        max-width: 80%;
        font-size: 2.4vw;
    }

    .memberCard :global(.title_1) {
        font-size: 2.2vw;
    }

    .memberCard :global(.subtitle_1) {
        font-size: 2.2vw;
    }

}

@media (max-width: 768px) {
    .peopleTopContainer h1 {
        font-size: 14vw !important;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mainMember {
        width: 100%;
    }

    .membersOne {
        flex-direction: row;
        width: 100%;
    }

    .teamTop {
        flex-direction: column;
    }

    .membersOne .memberCard {
        width: calc(50% - 10px);
    }

    .membersTwo .memberCard {
        width: calc(50% - 10px);
    }

    .peopleTopTop>div:nth-child(2) {
        display: none;
    }

    .memberCard :global(.title_1) {
        font-size: 3.2vw;
    }

    .memberCard :global(.subtitle_1) {
        font-size: 3.2vw;
    }

    .peopleTopContainer h4{
        font-size: 4.5vw;
        width: 100%;
    }

    .peopleTopContainer > div:nth-child(2) {
        width: 90%;
    }

    .peopleTopTop{
        padding-top: 0;
    }
}